---
import type { CollectionEntry } from "astro:content";
import Tag from "@/components/Tag.astro";
import Layout from "@/layouts/Layout.astro";
import { cdateJST } from "@/lib/cdate-jst";
import { getPosts } from "@/lib/repositories/posts";
import "@/styles/markdown-body.css";
import { Image } from "astro:assets";
import iconImage from "@/images/icon.svg";
import ReadingProgressBar from "@/components/ReadingProgressBar.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  seo={{
    openGraph: {
      type: "article",
      image: new URL(`/og/${post.slug}.png`, Astro.url.origin).toString(),
    },
  }}
>
  <ReadingProgressBar />
  <main class="base">
    <section class="title-content">
      <div class="flex items-center">
        <div class="min-w-0 flex-1">
          <h1 class="title">{post.data.title}</h1>
          <div class="subtitle-section">
            <div class="relative -ml-0.5 aspect-square w-7 shrink-0">
              <Image
                src={iconImage}
                alt="Icon"
                class="h-full w-full rounded-full"
              />
              <div
                class="absolute inset-0 rounded-full mix-blend-darken shadow-[0_0_0_1px_#f1f3f3_inset]"
              >
              </div>
            </div>

            <p>70_10</p>
            <time>{cdateJST(post.data.publishDate).format("YYYY/MM/DD")}</time>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <article class="markdown-body">
        <Content />
      </article>
    </section>
    <section class="content">
      <div class="tags">
        {post.data.tags.map((tag) => <Tag name={tag} />)}
      </div>
    </section>
  </main>
</Layout>

<style>
  .base {
    @apply mx-auto w-full max-w-screen-sm px-6 sm:px-10;
  }

  .title-content {
    @apply mt-1;
  }

  .content {
    @apply mt-8;
  }

  .title {
    @apply text-2xl font-extrabold leading-tight;
    @apply my-8;
  }

  .subtitle-section {
    @apply mt-1;
    @apply flex gap-x-2;
    @apply items-center;
    @apply font-mono text-sm text-gray-500;
  }

  .tags {
    @apply mt-2;
  }
</style>
