---
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { cdateJST } from "@/lib/cdate-jst";
import { getPosts } from "@/lib/repositories/posts";

interface Props {
  posts: CollectionEntry<"posts">[];
  tag: string;
}

export async function getStaticPaths() {
  const posts = await getPosts();
  const tags = Array.from(new Set(posts.map(({ data }) => data.tags).flat()));

  return tags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        tag,
        posts: posts.filter(({ data }) => data.tags.includes(tag)),
      },
    };
  });
}

const { tag, posts } = Astro.props;
---

<Layout title={`Tag: ${tag}`} seo={{ openGraph: { type: "article" } }}>
  <main class="base">
    <section class="title-content">
      <h1 class="title">{`#${tag}`}</h1>
    </section>
    <section class="content">
      <ul class="mt-3 list-none">
        {
          posts.map((entry) => {
            const publishAt = cdateJST(entry.data.publishDate).format(
              "YYYY/MM/DD",
            );

            return (
              <li class="list">
                <time>{publishAt}</time>:
                <a href={`/posts/${entry.slug}`} class="link">
                  {entry.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  .base {
    @apply mx-auto w-full max-w-screen-sm px-6 pt-8 sm:px-10;
  }

  .title-content {
    @apply mt-1;
  }

  .content {
    @apply mt-8;
  }

  .title {
    @apply text-xl font-bold;
  }

  .link {
    @apply text-emerald-500 hover:underline;
  }

  .list {
    @apply my-1;
  }
</style>
