---
import type { CollectionEntry } from "astro:content";
import { cdate } from "cdate";
import Layout from "../../layouts/Layout.astro";
import { getPosts } from "../../lib/repositories/posts";

interface Props {
  posts: CollectionEntry<"posts">[];
  tag: string;
}

export async function getStaticPaths() {
  const posts = await getPosts();
  const tags = Array.from(new Set(posts.map(({ data }) => data.tags).flat()));

  return tags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        tag,
        posts: posts.filter(({ data }) => data.tags.includes(tag)),
      },
    };
  });
}

const { tag, posts } = Astro.props;
---

<Layout title={`Tag: ${tag}`} seo={{ openGraph: { type: "article" } }}>
  <main class="base">
    <section class="content">
      <h1 class="text-xl font-bold">{tag}</h1>
      <ul class="mt-3">
        {
          posts.map((entry) => {
            const publishAt = cdate(entry.data.publishDate).format(
              "YYYY/MM/DD"
            );

            return (
              <li class="list">
                <time>{publishAt}</time>:
                <a href={`/posts/${entry.slug}`} class="link">
                  {entry.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  .base {
    @apply grid grid-cols-10 gap-y-10;
    @apply mt-5;
  }

  .content {
    @apply col-span-8 col-start-2;
    @apply md:col-span-6 md:col-start-3;
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }

  .list {
    @apply my-1;
  }
</style>
