---
import { cdate } from "cdate";
import path from "path";
import Layout from "../../layouts/Layout.astro";
import type { Frontmatter } from "../../models/frontmatter";

export async function getStaticPaths() {
  const posts = (await Astro.glob<Frontmatter>("../../posts/**/*.md")).filter(
    (post) => !post.frontmatter.draft
  );
  const tags = Array.from(
    new Set(
      posts
        .filter(
          ({ frontmatter }) => frontmatter.tags && frontmatter.tags.length > 0
        )
        .map((post) => post.frontmatter.tags)
        .flat()
    )
  );

  return tags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        tag,
        posts: posts.filter(
          ({ frontmatter }) =>
            frontmatter.tags && frontmatter.tags.includes(tag)
        ),
      },
    };
  });
}

const { tag, posts } = Astro.props;
---

<Layout title={`Tag: ${tag}`} seo={{ openGraph: { type: "article" } }}>
  <main class="base">
    <section class="content">
      <h1 class="text-xl font-bold">{tag}</h1>
      <ul class="mt-3">
        {
          posts
            .sort((a, b) => {
              return (
                cdate(b.frontmatter.publishDate).toDate().getTime() -
                cdate(a.frontmatter.publishDate).toDate().getTime()
              );
            })
            .map((post) => {
              const { frontmatter } = post;
              const slug = path.basename(post.file, ".md");
              const publishAt = cdate(frontmatter.publishDate).format(
                "YYYY/MM/DD"
              );
              return (
                <li class="list">
                  {publishAt}:
                  <a href={`/${publishAt}/${slug}`} class="link">
                    {frontmatter.title}
                  </a>
                </li>
              );
            })
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  .base {
    @apply grid grid-cols-10 gap-y-10;
    @apply mt-5;
  }

  .content {
    @apply col-start-2 col-span-8;
    @apply md:col-start-3 md:col-span-6;
    /* @apply lg:col-start-4 lg:col-span-4; */
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }

  .list {
    @apply my-1;
  }
</style>
