---
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { cdateJST } from "@/lib/cdate-jst";
import { getPosts } from "@/lib/repositories/posts";

interface Props {
  posts: CollectionEntry<"posts">[];
  tag: string;
}

export async function getStaticPaths() {
  const posts = await getPosts();
  const tags = Array.from(new Set(posts.map(({ data }) => data.tags).flat()));

  return tags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        tag,
        posts: posts.filter(({ data }) => data.tags.includes(tag)),
      } satisfies Props,
    };
  });
}

const { tag, posts } = Astro.props;
---

<Layout title={`Tag: ${tag}`} seo={{ openGraph: { type: "article" } }}>
  <main class="center stack pt-8">
    <section class="mt-1">
      <h1 class="text-xl font-bold">{`#${tag}`}</h1>
    </section>
    <section>
      <ul class="stack mt-3 list-none">
        {
          posts.map((entry) => {
            const publishAt = cdateJST(entry.data.publishDate).format(
              "YYYY/MM/DD",
            );

            return (
              <li class="my-1">
                <time>{publishAt}</time>:
                <a
                  href={`/posts/${entry.id}`}
                  class="text-emerald-500 hover:underline"
                >
                  {entry.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  @reference "@/styles/global.css";
</style>
