---
import type { CollectionEntry } from "astro:content";
import Tag from "@/components/Tag.astro";
import Layout from "@/layouts/Layout.astro";
import { cdateJST } from "@/lib/cdate-jst";
import { getPosts } from "@/lib/repositories/posts";
import ProfileCard from "@/components/ProfileCard.astro";

const posts = await getPosts();

const years = Array.from(
  new Set(
    posts
      .map(({ data }) => Number(cdateJST(data.publishDate).format("YYYY")))
      .sort((a, b) => b - a),
  ),
);

const postsSegmentedByYear = posts.reduce(
  (obj, post) => {
    const year = Number(cdateJST(post.data.publishDate).format("YYYY"));
    if (obj[year]) {
      obj[year].push(post);
    } else {
      obj[year] = [post];
    }
    return obj;
  },
  {} as { [year: number]: CollectionEntry<"posts">[] },
);

const tags = Array.from(
  new Set(posts.map(({ data }) => data.tags).flat()),
).sort();
---

<Layout
  title="Top"
  seo={{ openGraph: { type: "website" } }}
  displayBackButton={false}
>
  <main class="center stack mt-12">
    <section>
      <ProfileCard />
    </section>

    {
      years.map((year) => (
        <section class="flex gap-x-6">
          <header>
            <h1 class="sticky top-2 text-2xl font-bold">{year}</h1>
          </header>

          <ul class="stack list-none">
            {postsSegmentedByYear[year].map((entry) => {
              const publishAt = cdateJST(entry.data.publishDate).format(
                "MM/DD",
              );

              return (
                <li class="flex flex-col">
                  <time class="text-sm">{publishAt}</time>
                  <a
                    href={`/posts/${entry.id}`}
                    class="text-emerald-500 hover:underline"
                  >
                    {entry.data.title}
                  </a>
                </li>
              );
            })}
          </ul>
        </section>
      ))
    }

    <section>
      <div class="mb-6">
        <h1 class="sticky top-2 text-2xl font-bold">Tags</h1>
      </div>

      <div>
        {tags.filter((tag) => !!tag).map((tag) => <Tag name={tag} />)}
      </div>
    </section>
  </main>
</Layout>

<style>
  @reference "@/styles/global.css";
</style>
