---
import type { CollectionEntry } from "astro:content";
import Tag from "@/components/Tag.astro";
import Layout from "@/layouts/Layout.astro";
import { cdateJST } from "@/lib/cdate-jst";
import { getPosts } from "@/lib/repositories/posts";
import ProfileCard from "@/components/ProfileCard.astro";

const posts = await getPosts();

const years = Array.from(
  new Set(
    posts
      .map(({ data }) => Number(cdateJST(data.publishDate).format("YYYY")))
      .sort((a, b) => b - a),
  ),
);

const postsSegmentedByYear = posts.reduce(
  (obj, post) => {
    const year = Number(cdateJST(post.data.publishDate).format("YYYY"));
    if (obj[year]) {
      obj[year].push(post);
    } else {
      obj[year] = [post];
    }
    return obj;
  },
  {} as { [year: number]: CollectionEntry<"posts">[] },
);

const tags = Array.from(
  new Set(posts.map(({ data }) => data.tags).flat()),
).sort();
---

<Layout title="Blog" seo={{ openGraph: { type: "website" } }}>
  <main class="base">
    <section class="content">
      <ProfileCard />
    </section>

    {
      years.map((year) => (
        <section class="content flex gap-x-6">
          <header>
            <h1 class="heading_text">{year}</h1>
          </header>

          <ul class="list-none">
            {postsSegmentedByYear[year].map((entry) => {
              const publishAt = cdateJST(entry.data.publishDate).format(
                "MM/DD",
              );

              return (
                <li class="list">
                  <time class="text-sm">{publishAt}</time>
                  <a href={`/posts/${entry.slug}`} class="link">
                    {entry.data.title}
                  </a>
                </li>
              );
            })}
          </ul>
        </section>
      ))
    }

    <section class="content">
      <div class="mb-6">
        <h1 class="heading_text">Tags</h1>
      </div>

      <div>
        {tags.filter((tag) => !!tag).map((tag) => <Tag name={tag} />)}
      </div>
    </section>
  </main>
</Layout>

<style>
  .base {
    @apply mx-auto w-full max-w-screen-sm px-6 sm:px-10;
    @apply mt-12;
  }

  .content {
    @apply mt-8;
  }

  .link {
    @apply text-emerald-500 hover:underline;
  }

  .list {
    @apply mb-3;
    @apply flex flex-col;
  }

  .heading_text {
    @apply text-2xl font-bold;
    @apply sticky top-2;
  }
</style>
