---
import type { CollectionEntry } from "astro:content";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";
import { cdateJST } from "../lib/cdate-jst";
import { getPosts } from "../lib/repositories/posts";

const posts = await getPosts();

const years = Array.from(
  new Set(
    posts
      .map(({ data }) => Number(cdateJST(data.publishDate).format("YYYY")))
      .sort((a, b) => b - a),
  ),
);

const postsSegmentedByYear = posts.reduce(
  (obj, post) => {
    const year = Number(cdateJST(post.data.publishDate).format("YYYY"));
    if (obj[year]) {
      obj[year].push(post);
    } else {
      obj[year] = [post];
    }
    return obj;
  },
  {} as { [year: number]: CollectionEntry<"posts">[] },
);

const tags = Array.from(
  new Set(posts.map(({ data }) => data.tags).flat()),
).sort();
---

<Layout title="Blog" seo={{ openGraph: { type: "website" } }}>
  <main class="base">
    {
      years.map((year) => (
        <section class="content">
          <h1 class="heading_text">{year}</h1>

          <ul class="list-none">
            {postsSegmentedByYear[year].map((entry) => {
              const publishAt = cdateJST(entry.data.publishDate).format(
                "YYYY/MM/DD",
              );

              return (
                <li class="list">
                  <time>{publishAt}</time>:
                  <a href={`/posts/${entry.slug}`} class="link">
                    {entry.data.title}
                  </a>
                </li>
              );
            })}
          </ul>
        </section>
      ))
    }

    <section class="content">
      <h1 class="heading_text">Tags</h1>
      <div>
        {tags.filter((tag) => !!tag).map((tag) => <Tag name={tag} />)}
      </div>
    </section>
  </main>
</Layout>

<style>
  .base {
    @apply grid grid-cols-12 gap-y-6;
    @apply mt-8;
  }

  .content {
    @apply col-span-10 col-start-2;
    @apply md:col-span-6 md:col-start-4;
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }

  .list {
    @apply my-1;
  }

  .heading_text {
    @apply text-2xl font-bold;
    @apply mb-3;
  }
</style>
